<div class="card shadow">
    <div class="card-body">
        <h5 class="card-title">{{this.rm_name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{this.rm_na}}</h6>
        <p class="card-text">{{this.rm_description}}</p>
        <a class="btn btn-warning entry-edit">Edit</a>
        <a data-id="{{this.id}}" class="btn btn-danger entry-delete">Delete</a>
    </div>
</div>