body { 
    background-color: rgb(196, 196, 196);
  }

.intro-one {
    background-color: rgb(138, 138, 138);
    padding: 10px;
}

.container {
    color: darkblue;
    border: red solid 2px !important;
  }