<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-7 col-sm-12 vertical-center bg-danger">
            <!-- This is the form element and is in a partial. -->
            {{> entry-form}}
        </div>

        <div class="col-lg-6 col-md-5 col-sm-12 vh-100 overflow-auto">
            {{!-- Here one entry card will be created for each flavor --}}
            {{#each flavor_data}}
            {{> entry-card }}
            {{/each}}
        </div>
    </div>
</div>