<div class="container-fluid">

    {{> entry-modal}}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 vertical-center bg-danger">
            <!-- This is the form element and is in a partial. -->
            {{> entry-form}}
        </div>
            
    </div>
</div>