<div class="container-fluid">

    {{> entry-modal}}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 vertical-center bg-secondary">
            <!-- This is the form element and is in a partial. -->
            {{> edit-entry-form}}
        </div>
            
    </div>
</div>