// body {
//   background-color: rgba(255, 247, 0, 0.783);
// }

// .container {
//   background-color: rgb(254, 231, 213);
//   width: 80%;
//   padding: 20px;
//   border: red solid 2px !important;
// }

.vertical-center {
    // min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height:100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

.pad {
    padding: 60px !important;
}
